################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AdmTarea/.vs/AdmTarea/FileContentIndex/deb649e3-0963-4f99-acf2-edf553819d7b.vsidx
